/*
 * Здесь определены переменные CSS, которые используются для настройки стилей в приложении.
 */

:root {
    --main-bg-color: white; /* Цвет фона */
    --main-text-color: black; /* Цвет текста */
    
    --bg-color-hover: #afbacc; /* Цвет фона кнопок */

    --header-bg-color: black; /* Цвет фона заголовка */
    --header-text-color: white; /* Цвет текста заголовка */
}

/*
 * Здесь импортируется шрифт Roboto из Google Fonts.
 * Это позволяет использовать этот шрифт в приложении.
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex; /* Отображается в виде строки */
    flex-direction: column; /* Ориентация строки - вертикально */
    min-height: 100vh; /* Минимальная высота равна высоте окна браузера */

    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

button {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: 2px solid var(--main-text-color);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0 3px #999;
}
button:hover {
    background-color: var(--bg-color-hover);
}
button:active {
    background-color: var(--bg-color-hover);
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}

.selectable {
    cursor: pointer;
    user-select: none;
}
.selectable:hover {
    background-color: var(--bg-color-hover);
}
.selectable:active {
    background-color: var(--main-bg-color);
}

.selectable_text {
    cursor: pointer;
    user-select: none;
}
.selectable_text:hover {
    color: #2b2b2b;
}
.selectable_text:active {
    color: var(--main-text-color);
}

.header {
    /* Заголовок не растёт по высоте, не сжимается, занимает всю доступную ширину */
    flex: 0 0 auto; 
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}

.header__title {
    font-size: 30px;
    text-align: center;
    cursor: default;
}

.container {
    /* Контейнер не растёт по высоте, не сжимается, занимает всю доступную ширину */
    flex: 1 0 auto; 
    overflow-y: auto; /* Если контент превышает высоту контейнера, появляется полоса прокрутки */
}

.content {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.control_panel {
    display: flex;
    margin-top: 10px;
}

.control_panel input {
    width: 100%;
    margin-left: 10px;
    padding-inline: 10px;
    border-radius: 20px;

    pointer-events: none;
}

.dir_table {
    width: 100%;
    margin-block: 10px;
    
    /* Удаляем межколоночные отступы */
    border-spacing: 0;

    border: 2px solid var(--main-text-color);
    border-radius: 10px;
    padding: 10px;

}

.dir_table th {
    border-bottom: 2px solid var(--main-text-color);
    cursor: default;
}

.dir_table td {
    border-bottom: 1px solid var(--main-text-color);
}

.dir_table__size {
    text-align: right;
}

.footer {
    /* Футер не растёт по высоте, не сжимается, занимает всю доступную ширину */
    flex: 0 0 auto;

    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 10px;

    text-align: center;
}

.arrow {
    display: inline-block;
    width: 0;  
    height: 0;  
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-bottom: 10px solid black; 
    transition: transform 0.3s;
}
.arrow.rotate {
    transform: rotate(180deg);
}

.loadingScreen {
    text-align: center;
}
