# Игнорировать все файлы в корне
/*

# Не игнорировать .gitignore
!.gitignore


# Не игнорировать go.mod и go.sum
!go.mod
!go.sum


# Не игнорировать .go файлы и файлы в internal/
!*.go
!internal/

# Не игнорировать .env
!.env