# Игнорировать все файлы в корне
/*

# Не игнорировать .gitignore
!.gitignore


# Не игнорировать go.mod и go.sum
!go.mod
!go.sum


# Не игнорировать .go файлы и файлы в internal/
!*.go
!internal/

# Не игнорировать файлы в web/
!web/

# Не игнорировать .env
!.env

# npm
# Игнорировать node зависимости
# Не игнорировать json файлы
node_modules
!*.json

# Не игнорировать конфигурацию webpack
!webpack.config.js
!.babelrc
web/dist

# Не игнорировать Docker
!docker/

# Не игнорировать Makefile скрипты
!Makefile