.button {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    border: 2px solid var(--main-text-color);
    border-radius: 10px;

    padding: 5px 10px;
    box-shadow: 0 3px #999;

    cursor: pointer;
    user-select: none;
}

.button:hover {
    background-color: var(--bg-color-hover);
}

.button:not(:disabled):active {
    background-color: var(--bg-color-hover);
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}

.button:disabled {
    cursor: not-allowed;
}
