/*
 * Здесь определены переменные CSS, которые используются для настройки стилей в приложении.
 */

:root {
    --main-bg-color: white;
    /* Цвет фона */
    --main-text-color: black;
    /* Цвет текста */

    --bg-color-hover: #afbacc;
    /* Цвет фона кнопок */

    --header-bg-color: black;
    /* Цвет фона заголовка */
    --header-text-color: white;
    /* Цвет текста заголовка */
}